@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("douban.com")
{
    /* fonts */
    *
    {
        font-family: "Microsoft Yahei", Verdana, "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
    }

    /* body background color */
    body
    {
        background-color: #76827B !important;
        padding-bottom: 28px !important;
    }

    /* fixed top bar */
    .global-nav
    {
        position: fixed !important;
        width: 100% !important;
        z-index: 99 !important;
    }

    /* header */
    .nav
    {
        padding-top: 28px !important;
        margin-bottom: 28px !important;
    }

    /* h2 */
    h2
    {
        border-radius: 3px !important;
        font-weight: bold !important;
        padding: 4px !important;
    }

    /* h3 */
    h3
    {
        border-radius: 3px !important;
    }

    /* content area border-radius */
    #wrapper
    {
        padding: 20px 20px 0 !important;
        border: 6px solid rgb(84, 86, 82) !important;
        border-radius: 20px !important;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
    }

    /* douban book - background color */
    #db-nav-book ~ #wrapper
    {
        background: none repeat scroll 0% 0% #F6F6F1 !important;
    }

    /* douban book - h2 */
    #db-nav-book ~ #wrapper h2
    {
        background: #E2E2D1 !important;
     }

    /* douban book - h3 */
    #db-nav-book ~ #wrapper h3
    {
        background: #E2E2D1 !important;
        padding: 4px !important;
    }

    /* douban book - slide control */
    #db-nav-book ~ #wrapper .slide-controls
    {
        margin-top: -45px !important;
        margin-right: 5px !important;
    }

    /* douban book - douban reader list */
    #db-nav-book ~ #wrapper .list-reader b,
    #db-nav-book ~ #wrapper ul.app-list
    {
        background-color: transparent !important;
    }

    /* douban movie - background color */
    #db-nav-movie ~ #wrapper
    {
        background: none repeat scroll 0% 0% #F0F3F5 !important;
    }

    /* douban movie - cinema search */
    #db-nav-movie ~ #wrapper #cinemas-search
    {
        background-color: transparent !important;
        padding: 0 !important;
    }

    /* douban movie - slide control */
    #db-nav-movie ~ #wrapper .ui-slide-control
    {
        margin-top: 7px !important;
    }

    /* douban movie - h2 */
    #db-nav-movie ~ #wrapper h2
    {
        background: #D2DBE1 !important;
    }

    /* douban movie - h3 */
    #db-nav-movie ~ #wrapper h3
    {
        padding: 2px !important;
    }

    /* douban movie - app list */
    #db-nav-movie ~ #wrapper a.entrance-link.first-link
    {
        background: transparent !important;
    }

    /* douban music - background color */
    #db-nav-music ~ #wrapper
    {
        background: none repeat scroll 0% 0% #F0F3EF !important;
    }

    /* douban music - h2 */
    #db-nav-music ~ #wrapper h2
    {
        background: #D4DDD1 !important;
    }

    /* douban location - background color */
    #db-nav-location ~ #wrapper
    {
        background: none repeat scroll 0% 0% #F6F5F2 !important;
    }

    /* douban location - h2 */
    #db-nav-location ~ #wrapper div.hd
    {
        background: #E2DDD4 !important;
        border-radius: 3px !important;
        padding: 4px !important;
    }

    /* douban location - slide control */
    #db-nav-location ~ #wrapper .ui-slide-control
    {
        line-height: 27px !important;
    }

    /* douban location - app list */
    #db-nav-location ~ #wrapper a.entrance-link.first-link
    {
        background: transparent !important;
    }

    /* douban group - background color */
    #db-nav-group ~ #wrapper
    {
        background: none repeat scroll 0% 0% #F0F6F3 !important;
    }
}
